<!DOCTYPE HTML>
<html>
<head>
{% load staticfiles %} 
{% load blog_tags %}
<meta charset="utf-8">
<title>About us well About me</title>
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/font-awesome.min.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://fonts.useso.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.useso.com/css?family=Lato:400,900,700,300,100' rel='stylesheet' type='text/css'>
<link href='https://fonts.useso.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
<script src="https://ajax.useso.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
<div class="header">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12">
            	<div class="logo pull-left col-md-6 col-sm-6 col-xs-12">
                	<h1>FirstMeet</h1>
                </div>
                <div class="social col-md-6 col-sm-6 col-xs-12">
            		<ul class="pull-right">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
            	<div class="main-title text-center">
                	<h2>Coming Soon</h2>
                    <p>More Styles and More Contents will be here in future.Please wait me for a minute.</p>
                    <div id="countdown" data-wow-delay=".3s" data-date="Dec 26, 2015 06:00:00"></div>
                    <a href="#footer" class="subscribe-tag page-scroll">Thanks</a>
                </div>
                
                	
            </div>
        </div>
    </div>
</div>
<div class="about text-center">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12">
            	<div class="title">
                	<h3>About Us Ummm About Me</h3>
                </div>
                <div class="desc">
                	<p>I am just a stupid student in NUFE, and I regard this website as my python lesson practice and project for final exam</p>
                </div>
            </div>
            <div class="featurebox col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-12">
            	<div class="feature text-left">
                	<h4>My Dream</h4>
                    <p>I love dreaming and making it a funny story.I want to have a website to write stories.This is just a space for my dreaming</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
            	<div class="feature text-left">
                	<h4>My Story</h4>
                    <p>It is just a Kung Fu Story,it is not just a Kung Fu Story.Jiang Hu is not a place, it is people.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
            	<div class="feature text-left">
                	<h4>In Future</h4>
                    <p>This project will not be given up.I want to make it a better space.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
            	<div class="feature text-left">
                	<h4>And More</h4>
                    <p>To tell the truth,I do not know what to say in this part. So, just enjoy!</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.countdown.min.js"></script>
<script type="text/javascript">
if ($('#countdown').length) { 
			$('#countdown').countdown({
				render: function(data) {
					if (data.years >= 1) {
						var $days =	(data.years*365)+data.days;
					} else {
						var $days = data.days;
					}
				  $(this.el).html(
					  '<div class="day">' + this.leadingZeros($days) + ' <span>Days</span></div>'+
					  '<div class="hour">' + this.leadingZeros(data.hours, 2) + ' <span>Hours</span></div>'+
					  '<div class="min">' + this.leadingZeros(data.min, 2) + ' <span>Minutes</span></div>'+
					  '<div class="sec">' + this.leadingZeros(data.sec, 2) + ' <span>Seconds</span></div>'
				  );
				}
			});
		}

</script>
</body>
</html>
